/* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font for text */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
}

h3 {
    font-weight: 500;
    margin-bottom: 1em;
}

p,
span {
    font-family: Roboto, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body>* {
    width: 100%;
}


.navigation {
    display: flex;
    box-shadow: 0 0.1em 1em 0 rgb(0, 0, 0, 0.2);
    justify-content: space-between;

    .title-logo {
        padding: 1em;
        margin-left: 5em;
    }

    ul {
        display: flex;
        margin-right: 5em;
        align-items: start;

        li {
            display: block;
            padding: 1.5em 0.5em;
            position: relative;

            a {
                text-decoration: none;
                color: #545475;
                font-weight: bold;
                font-size: 0.9em;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 1em;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: center;
                    width: 100%;
                    height: 2px;
                    background-color: #9B5DC6;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }

            &:last-of-type>*::after{
                display: none;
            }
        }

        &>li:last-child a {
            background-color: #9B5DC6;
            padding: 0.5em 1.5em;
            border-radius: 1em;
            height: 2em;
            color: #fff;

            &:hover {
                background-color: #b577dc;
                box-shadow: 0 0 0.5em rgba(155, 93, 198, 0.5);
            }
        }

    }
}

.diplomas {
    display: flex;
    justify-content: space-between;
    padding: 3em 5em;

    .diplomas-text {

        h3 {
            color: #545475;
        }

        .primary {
            max-width: 90ch;
            margin-bottom: 1em;
        }

        .info {
            font-style: italic;
            opacity: 0.6;
            margin: 0.5em 0;
        }
    }

}

.certificates {
    display: flex;
    background-color: #14162B;
    align-items: center;
    justify-content: space-between;
    padding: 7em 5em;
    position: relative;

    .certificates-text {
        color: #fff;

        p {
            max-width: 100ch;
        }
    }

    .certificates-media {
        position: absolute;
        right: 7em;
        top: 6em;
    }
}

}