/* font for headings */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font for text */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
}

h3 {
    font-weight: 500;
    margin-bottom: 1em;
}

p,
span {
    font-family: Roboto, sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body>* {
    width: 100%;
}


.navigation {
    display: flex;
    box-shadow: 0 0.1em 1em 0 rgb(0, 0, 0, 0.2);
    justify-content: space-between;

    .title-logo {
        padding: 1em;
        margin-left: 5em;
    }

    ul {
        display: flex;
        margin-right: 5em;
        align-items: start;

        li {
            display: block;
            padding: 1.5em 0.5em;
            position: relative;

            a {
                text-decoration: none;
                color: #545475;
                font-weight: bold;
                font-size: 0.9em;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 1em;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: center;
                    width: 100%;
                    height: 2px;
                    background-color: #9B5DC6;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }

            &:last-of-type>*::after {
                display: none;
            }
        }

        &>li:last-child a {
            background-color: #9B5DC6;
            padding: 0.5em 1.5em;
            border-radius: 1em;
            height: 2em;
            color: #fff;

            &:hover {
                background-color: #b577dc;
                box-shadow: 0 0 0.5em rgba(155, 93, 198, 0.5);
            }
        }

    }
}

.diplomas {
    display: flex;
    justify-content: space-between;
    padding: 3em 5em;

    .diplomas-text {

        h3 {
            color: #545475;
        }

        .primary {
            max-width: 90ch;
            margin-bottom: 1em;
        }

        .info {
            font-style: italic;
            opacity: 0.6;
            margin: 0.5em 0;
        }
    }

}

.certificates {
    display: flex;
    background-color: #14162B;
    align-items: center;
    justify-content: space-between;
    padding: 7em 5em;
    position: relative;

    .certificates-text {
        color: #fff;

        p {
            max-width: 100ch;
        }
    }

    .certificates-media {
        position: absolute;
        right: 7em;
        top: 6em;
    }
}

.career-development {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 3em;

    .career-text {
        display: flex;
        flex-direction: column;

        h3 {
            color: #545475;
        }

        p {
            max-width: 95ch;
            margin-bottom: 2em;
        }

        a {
            max-width: 250px;
            padding: 0.7em;
            border: 1px solid #9B5DC6;
            text-align: center;
            text-decoration: none;
            color: #9B5DC6;
            font-weight: bold;
            border-radius: 1.5em;

            &:hover {
                background-color: #b577dc;
                color: #fff;
                border: none;
            }
        }
    }
}

.footer {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 1em;
    background-color: #2C2C3A;

    &>* {
        display: flex;
        flex-direction: column;

        h4 {
            color: #9B5DC6;
            margin: 1em 0;
        }

        a,
        p {
            color: #fff;
            text-decoration: none;

            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .rights {
        display: flex;
        flex-direction: column;

        .icons {
            margin: 1em 0;
            display: flex;
            align-items: start;
            justify-content: space-between;

            &>* {
                font-size: 1.5em;
            }
        }
    }
}

@media (width <=768px) {
    .navigation {
        align-items: center;

        ul {
            flex-wrap: wrap;
            margin: 0;

            li {
                width: 100%;
                text-align: center;
                padding: 0.5em 1em;
            }
        }

        .title-logo {
            display: none;
        }
    }

    .diplomas {
        flex-wrap: wrap;
        gap: 1em;

        .diplomas-media {
            margin: 0 auto;
        }
    }

    .certificates {
        flex-wrap: wrap;
        gap: 1em;

        .certificates-media {
            position: static;
        }

        .certificates-text {
            max-width: 90ch;
        }
    }

    .career-development {
        flex-direction: column;
        gap: 1em;
        align-items: center;

        .career-text {
            a {
                margin: 0 auto;
            }
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;

        section:not(:last-of-type) {
            width: 100%;
            text-align: center;
        }
    }
}

@media (width<=1400px) {
    .navigation {
        ul {
            justify-content: center;
            margin: 0;
            flex-grow: 1;
        }

        .title-logo {
            display: none;
        }
    }

    .diplomas {
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;

        .diplomas-media {
            margin: 0 auto;
        }
    }

    .certificates {
        padding: 4em;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;

        .certificates-media {
            position: static;
        }

        .certificates-text {
            max-width: 90ch;
        }
    }

    .career-development {
        flex-direction: column;
        gap: 1em;
        align-items: center;

        .career-text {
            a {
                margin: 0 auto;
            }
        }
    }
}